#main-nav {
    position: relative;
}
#main-nav ul{
  list-style:none;
  margin-bottom:0;
  margin-left: 0;
  padding: 0;
}
#main-nav ul li {
    cursor: pointer;
    margin: 0;
    position: relative;
    list-style: none;
    float: left;
    display: block;
    transition: all 0.3s ease;
}
#main-nav ul li a {
    padding: 22px 0.38rem;
    text-transform: uppercase;
    display: block;
    font-weight: 500;
    line-height: 28px;
    font-size: 0.8rem;
    text-decoration: none;
    color:$secondary;
    letter-spacing: 1px;
}
#main-nav ul li a:hover,
#main-nav ul li a:hover:after{
  color:$primary;
}
#main-nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    height: auto;
    margin: 0;
    padding: 0;      
    opacity: 0;
    background: #fff;
    -webkit-transition: opacity 0.25s ease 0.1s;
    -moz-transition: opacity 0.25s ease 0.1s;
    transition: opacity 0.25s ease 0.1s;
  width:185px;
  visibility:hidden;
}
#main-nav ul li:hover>ul {
    opacity: 1;
  visibility:visible;
}
#main-nav ul li ul > li > a {
  	padding:5px 13px;
  width:100%;
}
#main-nav ul li ul li{
  display:block;
  float:none;
}
/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	width: 100%;
	position: relative;
	padding: 4px 0;
	min-height: 42px;
	z-index: 999999;
}

.mean-container a.meanmenu-reveal {
  display:none !important;
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #3f414d;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #fff;
	margin-top: 0;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}

.mean-container .mean-nav ul li a {
  display: block;
  float: left;
  width: calc(100% - 40px);
  padding: 1em 0;
  margin: 0;
  text-align: left;
  color: #3f414d;
  border-top: 1px solid #ebebeb;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  margin:0 20px;
}

.mean-container .mean-nav ul li li a {
  width: calc(100% - 40px);
  padding: 1em 0;
  font-weight: normal;
  border-top: 1px solid #f1f1f1;
  border-top: 1px solid rgba(255,255,255,0.25);
  filter: alpha(opacity=75);
  text-shadow: none !important;
  visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 26px;
	height: 30px;
	padding: 5px 0!important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: rgba(255,255,255,0.1);
	border: none !important;
	border-left: 1px solid rgba(255,255,255,0.4) !important;
	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}

/* .mean-container .mean-nav ul li a.mean-expand:hover {
	background: rgba(0,0,0,0.9);
} */

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.mobile-nav-drawer {
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    display: block;
    width: 280px;
    height: 100%;
    transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(-100%, 0, 0);
    background: #fff;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;

    &.opened{
        opacity: 1;
        visibility: visible;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.08);
        transform: translateZ(0);
    }
}
.mean-remove {
	display: none !important;
}
#mobile-navigation .mean-nav  > ul{
  display: block !important;
}
#mobile-navigation .menu-close-icon{
  position: absolute;
  top: 0;
  right: -30px;
  z-index: 9999;
  color: #3f414d;
  font-size: 40px;
  line-height: 1;
}
.mobile-menu-sub{
    height: 100%;
    overflow: auto;
}
