td, .text-trans-cap{
	text-transform: capitalize;
}

.bg-custom, .btn-default , .navbar-default {
    background-color: rgba(7, 132, 200, 0.8) !important;
}

#sidebar-menu > ul > li > a.active {
    background: #f4f8fb !important;
    border-left: 3px solid rgba(7, 132, 200, 0.8);
    color: rgba(7, 132, 200, 0.8) !important;
}

#sidebar-menu ul ul a:hover {
    color: rgba(7, 132, 200, 0.8) !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: rgba(7, 132, 200, 0.8) !important;
    border-color: rgba(7, 132, 200, 0.8) !important;
}

#sidebar-menu > ul > li > a:hover {
    color: rgba(7, 132, 200, 0.8) !important;
    text-decoration: none;
}

#sidebar-menu .subdrop {
    background: #f4f8fb !important;
    border-left: 3px solid rgba(7, 132, 200, 0.8);
    color: rgba(7, 132, 200, 0.8) !important;
}

.btn-top {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    line-height: 60px;
    padding: 0px 15px;
    cursor: none;
}

#sidebar-menu ul ul li.active a {
    color: rgba(7, 132, 200, 0.8) !important;
}

.btn-default:hover{
    background: rgba(7, 132, 200, 0.8) !important
}

.footer{
    position: fixed !important;
    background: #ebeff2;
    z-index: 9;
}

.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
    background: #549bd2 !important;
    color: #fff !important;
}
.view-level{
    min-height: 310px;
}

font.label{
    padding: .2em .6em .3em !important;
}

.alert-success{
    background: #549bd28c !important;
    color: #1478c5 !important;
}

.full_page_services .left.side-menu{
    display:none;
}

.full_page_services .content-page{
    margin-left:0 !important;
    padding:30px;
}

.full_page_services footer{
    width:100%;
    left:0 !important;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

.bank_section .set_0:nth-child(1) .removeBankDiv .removeBank{
    display: none;
}

.print_out_table .div_3 {
    margin-bottom:20px !important;
    width:33.33%;float:left;
}

.print_out_table .div_2 {
    width:50%;float:left;
}

.print_out_table .div_1 {
    width:100%;
    clear: both;
}

@media print {
   a[href]:after {
     content: " (" attr(href) ")";
   }
 }

@media print {
   @page { margin: 0; }
   body { margin: 1.6cm; }
 }

.print_out_table tbody > tr > td
 {
    padding:5px !important;
 }
.print_out_table center {
    padding: 5px !important;
 }

@page {margin:0 0cm}
html {margin:0 0cm}

.print_out_table{
    text-transform: capitalize !important;
}

.d_m_b{
    margin-bottom:10px !important;
}