.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
    // width:16.666%;
    float:left;
    margin: 0;
    list-style: none;
    text-align:center;
    padding:0 7px;
    margin-bottom:25px;
/*   pointer-events:none */
}
.r-tabs .r-tabs-tab:first-child{
  padding-left:0;
}
.r-tabs .r-tabs-tab:last-child{
  padding-right:0;
}

.r-tabs .r-tabs-panel {

    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 767px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
      
    }
}


/* Tabs container */
.r-tabs {
	position: relative;

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	width:100%;
	border: 1px solid #c8d6de;
	border-radius: 8px;
	text-decoration: none;
	color: $theme-secondary;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: $theme-primary;
	text-shadow: none;
	border-color: $theme-primary;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: white;

	border-bottom: 4px solid white;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
    margin:5px 0;
	background-color: #f7f7f7;
	color: $theme-secondary;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
    
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #f7f7f7;
	color: $theme-primary;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}



/* Info bar */
.info {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	width: 300px;
	line-height: 100%;

	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px;
	color: #00c5ad;
	border: 2px solid #00ab94;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
}
/************************vertical tab *******************/
.varticaltab{
	.r-tabs-nav{
		width: 25%;
		float: left;

	   .r-tabs-tab{
		   width: 100%;
		   text-align: left;
		   padding: 0;
		   margin-bottom: 18px;
		   
		   .r-tabs-anchor{
			   border: none;
			   font-size: 15px;
			   font-weight: 500;
			   transition: all ease-in-out 0.2s;
		   }
		&.r-tabs-state-active{
			width: calc(100% - 7px);
			.r-tabs-anchor{
				margin-left: 7px;
				padding-left: 15px;
				border-left: 3px solid $theme-primary;
				border-radius: 0;
			}
		}
	   }
	}
	.r-tabs-panel{
		float: left;
		width: 75%;
		border-left: 1px solid #c4ccd8; 
		padding-left: 2.8125rem;
	}
}
/********labtab*********/
.labtab{
	.r-tabs-tab{
		padding: 0;
		
		.r-tabs-anchor{
			border: 1px solid #dae2f3;
			border-radius: 0;	
			padding: 0.5rem 1rem;
			font-weight: bold;
		}
		&.r-tabs-state-active{
			.r-tabs-anchor{
				border-color:#dae2f3; 
			}
		}
	}
}
/**********custom tab**************/

.r-tabs .r-tabs-nav .r-tabs-state-active .tab-icon {
	background-color: $theme-primary;
	color: $white;
}
.test-tab{ 
	margin-top: 75px;
	.tab-icon{
		width: 77px;
		height: 77px;
		border-radius: 8px;
		background-color: #e8f0f5;
		margin: 0 auto;
		margin-top: -38px;
		color: $theme-primary;
	}
	.tab-icon-tittle{
		margin: 30px auto;
	}
}

/***********team Tab***********/
.team-our{
	.r-tabs-nav{
		width: 33.333%;
		float: left;
		.r-tabs-tab{
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
			.r-tabs-anchor{
				border: 0;
			}
		}
	}
	.team{
		.avtar{
			width: 75px;
			height: 75px;
			overflow: hidden;
			border-radius: 50%;
			margin-right: 1.875rem;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.avtar-text{
			h6{
				color: $theme-secondary;
			}
		}
	}
	.team-member{
		width: 100%;
		float: none;
		background: none;
		border: 0;
		@include media-breakpoint-up(md) {
			width: 66.666%;
			float: left;
		}
		.team-meamber-img{
			img{
				border-radius: 10px;
				box-shadow: 0px 12px 49px 0px rgba(7, 132, 200, 0.28);
			}
		}
		.team-icon{
			a{
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background: #75819a;
				text-align: center;
				margin: 0;
				margin-right: 10px;
				span{
					line-height: 25px;
					color: #fff;
				}
			}	
		}
	}
}